*{
    margin: 0;
    padding: 0;
}
#container{
    background-color: yellowgreen;
    height: 100vh;
    width: 100vw;
}

#header {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px 0px 5px 0px;

}

#header-left {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0, 0, 0, 0;
}
#header-left >img{
    margin-left: 10px;
    height: 59px;
    width:59px;
}
#header-left > h1{
    color: #195932;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    margin: 0px 0px 0px 10px;
}
#header-middle {
    flex-grow: 1;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-right {
    width: auto;
    height: auto;
    display: flex;
    padding: 0px, 0px, 0px, 0px;
    justify-content: flex-end;   
    align-items: center;
}
#header-right > a > img{
    /* margin-right: 10px; */
    height: 25px;
    /* width:auto; */
}

a {
    padding: 0px 10px 0px 0px;
    text-decoration: none;
    color: #195932
}
        /* unvisited link */
        .header-right > a:link {
            text-decoration: none;
            color: #195932
        }

        /* visited link */
        .header-right > a:visited {
            text-decoration: none;
            color: #195932
        }

        /* mouse over link */
        .header-right > a:hover {
            text-decoration: none;
            color: #2b2d31
        }

        /* selected link */
        .header-right > a:active {
        color: #2b2d31;
        background-color: #195932;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center
        }

#body{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.body-box{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px, 0px, 5px, 0px
}
.bod-1{
    background-color:white;
}
.bod-2{
    background-color: #7f8388;
}

.sub-box{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center, space-evenly;
    align-items: center;
}

.verbage {
    margin: auto;
    border: 0, 0, 0, 0;
    padding: 0, 0, 0, 0;
    vertical-align: center;
}

.body-img{
    height: auto;
    width: 100%;
    border: 30px;
    margin: 20px;
    padding: 10px;
    justify-content: center, space-evenly;
    align-items: center;
}

h2 {
    margin: 10px;
}

p {
    margin: 10px;
}

.verbage > a {
    margin: 10px;
}

#footer {
    background-color: black;
    color: white;
    height: 10vh;
}
